.map{
	width: 1024px;	
}

#map a{
	cursor: hand;
}

#canvas {
	float: left;

}
#canvas2 {
	float: right;
  
}

#canvas3 {
  float: left;
 
}

#canvas4 {
  float: right;
  
}

#canvasDiv {
  float: left;
  padding-left:0px;
}
#canvasDiv2 {
  float: right;
  padding-right:0px;
}

#canvasDiv3 {
  float: left;
  padding-left:0px;
}
#canvasDiv4 {
  float: right;
  padding-left:0px;
}

.container{
	width:95%;
	margin-left: auto;	
	margin-right: auto;
	background: rgba(0,0,0, 0.67);
	text-align: center;
}

.body {
  padding-top: 50px;
  background:#fff url(../images/background.jpg);
}

}
.chart-legend ul li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.chart-legend ul {
  color: white;
  list-style-type: none;
}

.info-text {
  color: white;
}

.itemTable{
  margin-right: auto;
  margin-left: auto;
}