.map{
	width: 1024px;	
}

#map a{
	cursor: hand;
}

#canvas {
	float: left;
  background-color: white;
}
#canvas2 {
	float: right;
  background-color: white;
}

#canvas3 {
  float: left;
  background-color: white;
}

#canvas4 {
  float: right;
  background-color: white;
}

#canvasDiv {
  float: left;
  padding-left:0px;
}
#canvasDiv2 {
  float: right;
  padding-right:0px;
}

#canvasDiv3 {
  float: left;
  padding-left:0px;
}
#canvasDiv4 {
  float: right;
  padding-left:0px;
}


.container{
	width:98%;
	margin-left: auto;	
	margin-right: auto;
	background: rgba(0,0,0, 0.67);
	text-align: center;
}
.btn-pbnb{
  margin-bottom:5px;	
}

.body {
  padding-top: 50px;
  background:#fff url(../images/background.jpg);
}

td {
	font-size: 90%;
}

/* Main marketing message and sign up button */
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
 h2 {
  color: #fff;
}
h1 {
  color: #fff;
}

.row {
  margin-bottom: 5px;
}
[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

tr > th {
	font-weight: normal;
	font-size: 12px
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.chart-legend {
  background-color: white;
  color: black;
}